body {
    background-color: rgb(192, 192, 192);
    font-family: Arial, sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    color: rgb(0, 0, 0);
}

button {
    border-radius: 10px;
    background-color: rgb(47, 123, 255);
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.inputbox input {
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    height: 40px;
    width: 200px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}