.container {
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text{
    color: blue;
    font-size: 35px;
    font-weight: 600;
}

.underline{
    width: 10px;
    height: 4px;
    background-color: cyan;
    border-radius: 2px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input{
    background: #00000032;
}