@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: rgb(211, 150, 106);
}

.app-name{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 5px;
}

.logo{
    width: 40px;
    height: 40px;
}

.main{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: #40e0d0 ;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .input-box input{
    width: 250px;
}
